/*------------------------------------*
    $CONTENTS
*------------------------------------*/
/**
 * BASE
 * - UTILITIES
 * - HEADER-BASE
 * - HEADER-POLAROIDS
 * - STEPS-SECTION
 * - FORM
 */

:root {
  --primary: #5fc5ff;
  --error: #0081cc;
  --secondary: #ffff01;
  --angle: 13deg;
  --holder-top: 30px;
  --holder-left: 100px;
  --holder-top-second: 220px;
  --polaroid-margin: 30px;
  --holder-step: 185px;
}

/*------------------------------------*
      $UTILITIES
  *------------------------------------*/
.opacity-0 {
  opacity: 0 !important;
}

.opacity-1 {
  opacity: 1 !important;
}

/*------------------------------------*
      $HEADER-BASE
  *------------------------------------*/
.custom-card {
  background-color: var(--primary);
}

.custom-card-wrapper {
  width: 96%;
  margin: 1% 2%;
  border: 3px solid var(--secondary);
  position: relative;
  height: 330px;
  opacity: 1;
}

.header-title {
  color: white;
  text-align: center;
  font-size: 2.5rem;
  text-shadow: -2px 3px #002699;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

.header-overlay {
  opacity: 0;
  height: 300px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-overlay-title a {
  color: white;
  text-decoration: none;
}

header:hover .header-overlay {
  opacity: 1;
  transition: 0.5s ease;
}

header:hover .header-main {
  opacity: 0;
  transition: 0.5s ease;
}

/*------------------------------------*
      $HEADER-POLAROIDS
  *------------------------------------*/
.polaroid {
  height: 170px;
  width: 120px;
  position: absolute;
  background-color: grey;
  border: 10px solid white;
  border-bottom: 35px solid white;
}

.polaroid-first-row {
  top: calc(var(--holder-top) * 4);
}

.polaroid-second-row {
  top: var(--holder-top-second);
}

.polaroid-clockwise {
  transform: rotate(calc(var(--angle) * -1));
  box-shadow: -5px 5px 4px grey;
}

.polaroid-counter-clockwise {
  transform: rotate(var(--angle));
  box-shadow: 5px 5px 4px grey;
}

.polaroid-one {
  left: calc(var(--holder-left) * 0.25);
}

.polaroid-two {
  right: calc(var(--holder-left) * 0.25);
}

.polaroid-three {
  left: calc(var(--polaroid-margin) + calc(var(--holder-step) * 0));
  display: none;
}

.polaroid-four {
  left: calc(var(--polaroid-margin) + calc(var(--holder-step) * 1));
  display: none;
}

.polaroid-five {
  left: calc(var(--polaroid-margin) + calc(var(--holder-step) * 2));
  display: none;
}

.polaroid-six {
  right: calc(var(--polaroid-margin) + calc(var(--holder-step) * 2));
  display: none;
}

.polaroid-seven {
  right: calc(var(--polaroid-margin) + calc(var(--holder-step) * 1));
  display: none;
}

.polaroid-eigth {
  right: calc(var(--polaroid-margin) + calc(var(--holder-step) * 0));
  display: none;
}

/*------------------------------------*
      $STEPS-SECTION
  *------------------------------------*/
#steps-section {
  display: none;
}

/*------------------------------------*
      $FORM
  *------------------------------------*/

.input-text {
  margin: 0;
  font-size: 0.7rem;
  text-align: right;
  font-weight: bold;
}

.input-error {
  color: var(--error);
}

.input-info {
  color: var(--bs-black);
}

.form-step-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-step-counter {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: var(--secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #002699;
  font-weight: bold;
}

.form-step-title {
  font-style: italic;
  text-decoration: underline;
  font-size: 1.2em;
  text-align: center;
}

.preset-amounts {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 5px;
  grid-row-gap: 10px;
  padding: 10px;
  margin-left: 10%;
}

.preset-amounts button {
  width: 70%;
}

.preset-amount:hover {
  background-color: var(--bs-blue);
  color: white;
}
